{% extends "base.html" %}
{% from "_helpers.html" import render_field, request_badge, access_badge %}

{% block title %}Admin Dashboard | First Nations Winhanganha Archive{% endblock %}
{% block hero_title %}Admin Dashboard {% endblock %}

{% block content %}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-light p-3 rounded">
      <li class="breadcrumb-item">
        <a href="{{ url_for('home') }}">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{{ url_for('account') }}">Account</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Admin Dashboard</li>
    </ol>
  </nav>
</div>
<div class="container padb">
  <div class="row g-4">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header">
          <h3 class="h5 mb-0">Users</h3>
        </div>

        <div class="card-body p-0">
          {% if users %}
            <div class="table-responsive">
              <table class="table table-striped table-hover mb-0 align-middle">
                <thead class="table-light">
                  <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th></th>
                    <th>Email</th>
                  </tr>
                </thead>

                <tbody>
                  {% for user in users %}
                  <tr>
                    <td>{{ user.userID }}</td>
                    <td>{{ '' if user.preferred_title in [None, 'None', ''] else user.preferred_title }} {{ user.name }}</td>
                    <td>
          <form method="post" class="d-flex gap-2">
            <input type="hidden" name="userID" value="{{ user.userID }}">

            <select name="role" class="form-select">
              {% for role in roles %}
                <option value="{{ role.roleID }}" {% if user.role == role.name %}selected{% endif %}>
                  {{ role.name }}
                </option>
              {% endfor %}
            </select>
        </td>

        <td>
            <button type="submit" class="btn btn-primary btn-sm">
              Update
            </button>
          </form>
                    <td>{{ user.email }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% else %}
            <div class="p-3">
              <div class="alert alert-info mb-0">
                No users found.
              </div>
            </div>
          {% endif %}
        </div>
              
              </div>
            </div>
        
        </div>
      </div>

    </div>
  </div>

</div>

{% endblock %}