{% extends "base.html" %}
{% from "_helpers.html" import access_badge, request_badge, render_field %}

{% block title %}Add new Item to Collection | First Nations Winhanganha Archive{% endblock %}
{% block hero_title %}Add new Item to Collection{% endblock %}

{% block content %}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-light p-3 rounded">
      <li class="breadcrumb-item">
        <a href="{{ url_for('home') }}">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{{ url_for('account') }}">Account</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add Item to Archive</li>
    </ol>
  </nav>
</div>


<div class="container padtb">
<h4>Enter Cultural Item Details below</h4>
<small class="form-text text-muted">Add basic data here and upload the record. Metadata is entered during the assessment phase.</small>
  <div class="row g-4">
  <form method="post" enctype="multipart/form-data">
    <div class="col-lg-7">
      <div class="mb-3">
        {{ render_field(form.collection_id) }}
      </div>        
      <div class="mb-3">
        {{ render_field(form.date_recorded) }}
        <small class="form-text text-muted">Select the date this item was recorded.</small>
      </div>  
      <div class="mb-3">
        {{ render_field(form.title) }}
      </div>
      <div class="mb-3">
        {{ render_field(form.item_img) }}
        <small class="form-text text-muted">Image to be displayed in all results (if not included default image is used).</small>
      </div>
      <div class="mb-3">
        {{ render_field(form.description) }}
         <small class="form-text text-muted">No sensitive information should be entered into this field.</small>
      </div>
      <div class="mb-3">
        {{ render_field(form.place) }}
        <small class="form-text text-muted">Place reference for the Item.</small>
      </div>
      <div class="mb-3">
        {{ render_field(form.language_group) }}
        <small class="form-text text-muted">Add Language and/or Nation information to identify ownership.</small>
      </div>
      <div class="mb-3">
        {{ render_field(form.item_type) }}
      </div>
      <div class="mb-3">
        {{ render_field(form.record_format) }}
      </div>
      <div class="mb-3">
        {{ render_field(form.file_record) }}
        <small class="form-text text-muted">This file is the actual record, no sensitive information should be entered into any other field.</small>
      </div>
      <div class="mb-3">
        {{ render_field(form.submit,"btn btn-outline-dark") }}
      </div>
  </div>
  </form>
</div>
<!--
class AddItemForm(Form):
    collection_id = SelectField(
        "Parent Collection",
        [DataRequired()],
        choices=[]
    )
    title = StringField("Title", [DataRequired()])
    description = TextAreaField("Description", [DataRequired()])
    item_type = SelectField(
        "Item Type",
        [DataRequired()],
        choices=[
            ("", "Select an item type"),
            ("Audio", "Audio"),
            ("Video", "Video"),
            ("Image", "Image"),
            ("Document", "Document"),
            ("Other", "Other"),
        ]
    )
    place = StringField("Place")
    language_group = TextAreaField("Language Group/Nation")
    file_record = FileField("Item File", [DataRequired()])
    item_img = FileField("Collection Item Image")
          



-->

{% endblock %}